.register{
    width: 30%;
    margin: auto;
    padding: 20px;
    margin: 30px auto;
    /* box-shadow: 1px 1px 3px grey; */
    border: 1px solid rgba(128, 128, 128, 0.596);
    border-radius:10px;
}
.form>input{
    display: block;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    outline: none;
}
.form>input:focus{
    border: 1px solid blue;
}
.showPassword:hover{
    cursor: pointer;
    color: black;
}
.btn{
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(0, 149, 255);
    border: none;
    letter-spacing: 1.3px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(12, 97, 158);
}
.register a:hover{
    color: rgb(12, 12, 139);
}

@media screen and (max-width:1000px){
    .register{
        width: 50%;
    }
}
@media screen and (max-width:610px) {
    .register {
        width: 80%;
    }
}
@media screen and (max-width:320px) {
    .register {
        width: 95%;
    }
}